body {
  font-family: 'Roboto',sans-serif;
}
section {
  margin: .5rem 0;
  padding: .5rem;
  border: 1px solid gray;
}

header {
  padding: .8em 0;

}
header p {
  font-style: italic;
}

ol li {
    font-weight: bold;

}

ul li {
    font-weight: normal;
}

img {
    height: 500px;
    width: 600px;
}
